/* css for register.php , login.php page */

*{
    margin: 0;
    padding: 0;    
}

.register{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
    background-color: green;
}

.register input{
    padding: 20px;
    margin: 6px;
    border: none;
    border-bottom: 2px solid blue;
}

.register button{
    margin: 6px;
    padding: 20px;
    width: 100%;
    border-radius: 6px;
    background-color: skyblue;
}

/* admin add_book.php */

